<article>
  <h1><%= __('user_newPassword') %></h1>
  <form action="/findPassword/newPassword/<%= hash %>" method="POST">
    <div><input type="password" name="password" placeholder="<%= __('user_password') %>"></div>
    <div><input type="password" name="passwordCheck" placeholder="<%= __('user_passwordCheck') %>"></div>
    <div><button><%= __('user_changePassword') %></button></div>
  </form>
</article>