<style>
  article .banner__box__articleTop {
    grid-template-columns: repeat(<%= locals.setting.bannerRowsArticleTop %>, 1fr);
  }

  article .banner__box__articleBottom {
    grid-template-columns: repeat(<%= locals.setting.bannerRowsArticleBottom %>, 1fr);
  }

  .domain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #bbb;
    box-sizing: border-box;
    background-color: #eee;
    border-radius: 5px;
    padding: 20px 0;
    margin-bottom: 10px;
  }

  .domain .domainName {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
    color: <%= locals.setting.pointColor %>;
  }
</style>
<article>
  <% if (locals.setting.adsenseTop) { %>
  <div class="adsense">
    <%- locals.setting.adsenseTop %>
  </div>
  <% } %>
  <% if (locals.banners.filter(b => b.position === 'articleTop').length) { %>
  <div class="banner__box__articleTop">
    <% locals.banners.forEach(b => { %>
    <% if (b.position === 'articleTop' && b.status === 1) { %>
      <div class="banner"><a href="<%= b.link %>"<% if (b.newPage) { %> target="_blank"<% } %>><img src="<%= locals.s3Host %>/banner/<%= b.image %>" alt="<%= b.image %>"></a></div>
    <% } %>
    <% }) %>
  </div>
  <% } %>
  <h1><%= boardName %></h1>
  <div class="galleryList">
    <div class="galleryGridContainer">
      <% articles.forEach(a => { %>
        <div class="galleryGridItem">
          <a href="/<%= a.boardSlug %>/<%= a.id %>" class="domain">
            <div class="domainName"><%= a.title %></div>
            <div class="domainPrice"><%= Number(a.customField01).toLocaleString() %>원</div>
          </a>
          <div class="info">
            <div class="author">
              <% if (locals.setting.usePermissionImage) { %>
              <div class="permissionImage"><img src="/permission/<%= a.permission %>.svg"></div>
              <% } %>
              <div><%= a.nickName %></div>
            </div>
            <div class="datetime"><%= a.datetime %></div>
          </div>
          <div class="count">
            <div class="view"><%= __('board_view') %> <%= a.viewCount %></div>
            <div class="like"><%= __('board_like') %> <%= a.likeCount %></div>
          </div>
        </div>
      <% }) %>
    </div>
    <%- include('../../../pagination.ejs') %>
    <div class="searchAndWrite">
      <form action="/<%= boardSlug %>">
        <div class="search">
          <div>
            <select name="type">
              <option value="title"><%= __('board_title') %></option>
              <option value="titleAndContent"><%= __('board_titleAndContent') %></option>
              <option value="name"><%= __('board_user') %></option>
            </select>
          </div>
          <div>
            <input type="text" name="keyword">
          </div>
          <div>
            <button><%= __('board_search') %></button>
          </div>
        </div>
      </form>
      <% if (writePermission) { %>
      <div class="write"><a href="/<%= boardSlug %>/new"><%= __('board_write') %></a></div>
      <% } %>
    </div>
  </div>
  <% if (locals.setting.adsenseBottom) { %>
  <div class="adsense">
    <%- locals.setting.adsenseBottom %>
  </div>
  <% } %>
  <% if (locals.banners.filter(b => b.position === 'articleBottom').length) { %>
  <div class="banner__box__articleBottom">
    <% locals.banners.forEach(b => { %>
    <% if (b.position === 'articleBottom' && b.status === 1) { %>
      <div class="banner"><a href="<%= b.link %>"<% if (b.newPage) { %> target="_blank"<% } %>><img src="<%= locals.s3Host %>/banner/<%= b.image %>" alt="<%= b.image %>"></a></div>
    <% } %>
    <% }) %>
  </div>
  <% } %>
</article>