<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../../head.ejs') %>
    <%- include('../../admin/head.ejs') %>
  </head>
  <body>
    <%- include('../../header.ejs') %>
    <main>
      <article>
        <div class="wrap">
          <%- include('../../admin/header.ejs') %>
          <%- include('../../flash.ejs') %>
          <h2>파워볼</h2>
        </div>
      </article>
    </main>
    <%- include('../../footer.ejs') %>
  </body>
</html>