<div class="commentsTitle"><%= __('comment_comments') %></div>
<div class="newComment" id="newComment">
  <% if (locals.user) { %>
    <div class="newCommentContent"><textarea name="content" placeholder="댓글을 작성해주세요"></textarea></div>
    <div class="button"><button><%= __('comment_submit') %></button></div>
  <% } else if (commentPermission) { %>
    <div class="newCommentContent"><textarea name="content" placeholder="<%= __('comment_needPermission') %>" disabled></textarea></div>
    <div class="button"><button disabled><%= __('comment_submit') %></button></div>
  <% } else { %>
    <div class="newCommentContent"><textarea name="content" placeholder="<%= __('comment_needLogin') %>" disabled></textarea></div>
    <div class="button"><button disabled><%= __('comment_submit') %></button></div>
  <% } %>
</div>
<div class="comments" id="comments">
  <% comments.forEach(c => { %>
    <% if (c.status) { %>
      <div class="comment" aid="<%= article.id %>" cid="<%= c.id %>" pid="<%= c.comment_parent_id %>" gid="<%= c.comment_group_id %>">
        <% if (c.comment_parent_id) { %>
        <div class="isReply"></div>
        <% } %>
        <div class="userImage">
          <% if (locals.setting.usePermissionImage) { %>
          <% } else { %>
          <% } %>
        </div>
        <div class="main">
          <div class="info">
            <div class="left">
              <span class="nickName"><%= c.nickName %></span><span class="dot"></span><span class="permissionName"><%= c.permissionName %></span><span class="dot"></span><span class="datetime"><%= c.datetime %></span><% if (c.likeCount) { %><span class="dot"></span><span class="likeCount"><img src="/assets/empty.png"><%= c.likeCount %></span><% } %>
            </div>
            <div class="right">
              
            </div>
          </div>
          <div class="commentContent" id="commentContent"><% if (c.comment_parent_id && c.comment_parent_id !== c.comment_group_id) { %>@<%= c.parent.nickName %> <% } %><%- c.content %></div>
          <div class="buttons">
            <div class="left">
              <div class="commentReply"><button id="commentReply"><%= __('comment_reply') %></button></div>
            </div>
            <div class="right">
              <div class="likeBtn">
                <% if (c.userLike) { %>
                <div class="commentLike"><button id="commentLike"><%= __('comment_unlike') %></button></div>
                <% } else { %>
                <div class="commentLike"><button id="commentLike"><%= __('comment_like') %></button></div>
                <% } %>
              </div>
              <% if (locals.user && locals.user.id === c.userId || locals.user && locals.user.permission === 10) { %>
              <div class="editBtn">
                <div class="commentEdit"><button id="commentEdit"><%= __('comment_edit') %></button></div>
                <div class="commentDelete"><button id="commentDelete"><%= __('comment_delete') %></button></div>
              </div>
              <% } %>
            </div>
          </div>
          <div class="commentEtc" id="commentEtc"></div>
        </div>
      </div>
    <% } else if (!c.status && c.replyCount) { %>
      <div class="comment" aid="<%= article.id %>" cid="<%= c.id %>" pid="<%= c.comment_parent_id %>" gid="<%= c.comment_group_id %>">
        <% if (c.comment_parent_id) { %>
          <div class="isReply"></div>
          <% } %>
          <div class="userImage">
            <% if (locals.setting.usePermissionImage) { %>
            <% } else { %>
            <% } %>
          </div>
          <div class="main">
            <div class="info">
              <div class="left">
                <span class="nickName"><%= c.nickName %></span><span class="dot"></span><span class="permissionName"><%= c.permissionName %></span><span class="dot"></span><span class="datetime"><%= c.datetime %></span><% if (c.likeCount) { %><span class="dot"></span><span class="likeCount"><img src="/assets/empty.png"><%= c.likeCount %></span><% } %>
              </div>
              <div class="right">
                
              </div>
            </div>
            <div class="commentContent" id="commentContent"><% if (c.comment_parent_id && c.comment_parent_id !== c.comment_group_id) { %>@<%= c.parent.nickName %> <% } %><%- c.content %></div>
            <div class="buttons">
              <div class="left">
                <div class="commentReply"><button id="commentReply"><%= __('comment_reply') %></button></div>
              </div>
              <div class="right">
                <div class="likeBtn">
                  <% if (c.userLike) { %>
                  <div class="commentLike"><button id="commentLike"><%= __('comment_unlike') %></button></div>
                  <% } else { %>
                  <div class="commentLike"><button id="commentLike"><%= __('comment_like') %></button></div>
                  <% } %>
                </div>
                <% if (locals.user && locals.user.id === c.userId || locals.user && locals.user.permission === 10) { %>
                <div class="editBtn">
                  <div class="commentEdit"><button id="commentEdit"><%= __('comment_edit') %></button></div>
                  <div class="commentDelete"><button id="commentDelete"><%= __('comment_delete') %></button></div>
                </div>
                <% } %>
              </div>
            </div>
            <div class="commentEtc" id="commentEtc"></div>
          </div>
      </div>
    <% } %>
  <% }) %>
</div>