<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/user.css">
    <script src="/javascripts/user.js" defer></script>
    <style>
      h1, h2 {
        color: <%= locals.setting.pointColor %>;
      }
    </style>
  </head>
  <body>
    <%- include('../header.ejs') %>
    <main>
      <div class="wrap">
        <article id="changeUserPassword">
          <h1>비밀번호 변경</h1>
          <div class="center">
            <form name="frm" action="/mypage/password" method="POST" onSubmit="return changePassword()">
              <div class="password">
                <div><input type="password" name="oldPassword" placeholder="<%= __('oldPassword') %>"></div>
                <div><input type="password" name="password" placeholder="<%= __('password') %>"></div>
                <div><input type="password" name="passwordCheck" placeholder="<%= __('passwordCheck') %>"></div>
              </div>
              <div><button><%= __('editAccount') %></button></div>
            </form>
          </div>
        </article>
      </div>
    </main>
    <%- include('../footer.ejs') %>
  </body>
</html>