<!DOCTYPE html>
<html lang="ko">
  <head>
    <title><%= pageTitle %></title>
    <%- include('../head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/user.css">
    <script src="/javascripts/user.js" defer></script>
    <style>
      h1, h2 {
        color: <%= locals.setting.pointColor %>;
      }
    </style>
  </head>
  <body>
    <%- include('../header.ejs') %>
    <main>
      <div class="wrap">
        <article>
          <h1>휴대폰 번호 변경</h1>
          <div class="center">
            <form name="frm" action="/mypage/phone" method="POST" onSubmit="return changePhone()">
              <div>
                <div><input name="phoneNumber" type="text" placeholder="<%= __('phoneNumber') %>"></div>
                <div><button class="phoneVerifyBtn" type="button">인증</button></div>
                <div><input class="verifyNumber" type="text" placeholder="인증번호를 입력해주세요"></div>
              </div>
              <div><button class="phoneVerifyCompleteBtn" name="phoneVerifyComplete" type="button">확인</button></div>
              <div><button class="phoneNextBtn">변경하기</button></div>
            </form>
            </form>
          </div>
        </article>
      </div>
    </main>
    <%- include('../footer.ejs') %>
  </body>
</html>